/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}
.typical-link {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}
.typical-link:hover {
  border-color: transparent;
}
.reset-typical {
  border-bottom: none;
}
/* Small screens (default) */
html {
  font-size: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
}
.row.no-padding .column {
  padding: 0;
}
.column {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
}
.column:first-child {
  padding-left: 0;
}
.column:last-child {
  padding-right: 0;
}
.column.full {
  width: 100%;
}
.column.two-thirds {
  width: 66.7%;
}
.column.half {
  width: 50%;
}
.column.third {
  width: 33.3%;
}
.column.fourth {
  width: 25%;
}
.column.fiveth {
  width: 20%;
}
.column.flow-opposite {
  float: right;
}
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  min-width: 90rem;
}
body {
  height: 100%;
}
a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}
a:hover {
  border-color: transparent;
}
.wrapper {
  position: relative;
  height: 100%;
  min-height: 50rem;
}
main.full-screen {
  position: absolute;
  top: 4.125rem;
  right: 0;
  left: 0;
  bottom: 2.4375rem;
}
.sect-wrap {
  position: relative;
  max-width: 100rem;
  margin: 0 auto;
  padding: 4.6875rem 5.625rem 9.375rem;
  background: #fff;
  color: #1f1a14;
}
.sect-wrap.restaurant:after {
  content: '';
  position: absolute;
  top: 4.6875rem;
  left: 50%;
  width: 35.625rem;
  height: 35.625rem;
  background: url(../img/rest.jpg) no-repeat 0 0 / 100% 100%;
}
.sect-wrap h1 {
  position: relative;
  z-index: 1;
  width: 55rem;
  margin: 2.1875rem 0 2.1875rem;
  font-size: 3.125em;
  line-height: 1.2em;
  text-transform: uppercase;
}
.sect-wrap h1:first-child {
  margin-top: 0;
}
.sect-wrap h2 {
  width: 28rem;
  margin: 2.1875rem 0 2.1875rem;
  font-size: 1.125em;
  line-height: 1.35;
  text-transform: uppercase;
}
.sect-wrap .section-desc {
  margin: 0 0 1.125rem;
  font: italic 1em / 1.375em Georgia, 'Open Sans', sans-serif;
}
.sect-wrap p {
  font: 0.8125em / 1.6923em Georgia, 'Open Sans', sans-serif;
}
.sect-wrap .txt-tip p {
  margin: 0.2em 0 0;
  font-size: 1.875em;
  font-family: Georgia, 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.tabs-sect {
  padding: 0 8.125rem;
}
.square-list-sect {
  padding-bottom: 7.5rem;
}
.services {
  padding-bottom: 5rem;
}
.mini-footer {
  padding-bottom: 3.5rem;
  text-align: center;
}
.mini-footer header {
  margin: 0 0 3.75rem;
  font-size: 1.5625em;
  color: #b8b185;
  text-transform: uppercase;
  font-weight: 300;
}
.mini-footer .small-logo {
  display: inline-block;
  vertical-align: middle;
  width: 9.3125rem;
  height: 2.1875rem;
  margin: 0 .5rem 0 0;
  background: url(../img/small-logo.png) no-repeat 0 0 / 100% 100%;
}
.mini-footer .call {
  font-size: 0.75em;
  line-height: 1.83333333em;
  text-transform: uppercase;
}
.mini-footer .call a {
  border-bottom: none;
  display: block;
  margin: 0.5rem 0 0;
  color: #1f1a14;
  font-size: 1.21875em;
  line-height: 1.79487179em;
}
.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
}
.slideshow .slide {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.slideshow .slide:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 128px 128px -64px rgba(0, 0, 0, 0.5), inset 0 -128px 128px -64px rgba(0, 0, 0, 0.5);
}
.slideshow .slide:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.54);
}
.slideshow .slide.active {
  opacity: 1;
}
.slideshow .slide-cont {
  position: relative;
  z-index: 1;
  width: 32.4375rem;
  margin: 8.5rem auto 0;
  color: #ffffff;
  text-align: center;
}
.slideshow .slide-cont .desc {
  padding: 0 0 2.4375rem;
  margin: 0 0 1.875rem;
  border-bottom: 1px solid #ffffff;
  font-size: 1.375em;
  text-transform: uppercase;
  line-height: .75;
}
.slideshow .slide-logo {
  width: 7.1875rem;
  height: 7.1875rem;
  margin: 0 auto;
  background: url(../img/big-logo.png) no-repeat 0 0 / 100% 100%;
}
.slideshow .slide-head {
  margin: 2.6875rem 0 2.1875rem;
  font-size: 2.75em;
  font-weight: 300;
  line-height: .75;
  text-transform: uppercase;
}
.slideshow .slide-desc {
  font-size: 0.9375em;
  line-height: 1.6em;
}
.arrow {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  top: 50%;
  width: 4.6875rem;
  height: 4.6875rem;
  margin-top: -2.34375rem;
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-align: center;
  line-height: 4.6875rem;
  font-size: 2em;
  cursor: pointer;
}
.arrow:hover {
  background: rgba(0, 0, 0, 0.5);
}
.arrow.arrow-left {
  left: 0;
}
.arrow.arrow-left .icon {
  margin-right: .25rem;
}
.arrow.arrow-right {
  right: 0;
}
.arrow.arrow-right .icon {
  margin-left: .25rem;
}
.table {
  width: 100%;
  max-width: 73.75rem;
  margin: 0 auto;
}
.table tr:nth-child(even) {
  background: #f8f7f3;
}
.table tr:nth-child(even) td {
  line-height: 2.375rem;
}
.table tr:nth-child(odd) td {
  line-height: 5rem;
}
.table th {
  padding: 0 2.125rem;
  font-size: 0.8125em;
  line-height: 3.69230769em;
  font-weight: normal;
  text-align: left;
}
.table td {
  padding: 0 0 0 2.125rem;
  font: italic 600 1em Georgia, 'Open Sans', sans-serif;
}
.table td:first-child {
  font-weight: 400;
}
.table .name-td {
  width: 65%;
}
.table .weight-td {
  width: 20%;
}
.table .price-td {
  width: 15%;
}
.tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 73.75rem;
  margin: 0 auto 5.625rem;
}
.tabs li.active span {
  background: #b8b185;
  color: #ffffff;
}
.tabs li span {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
  min-width: 12rem;
  padding: 0 0.8125rem;
  color: #000000;
  line-height: 2.375rem;
  cursor: pointer;
  text-align: center;
}
.tabs li span:hover {
  background: #b8b185;
  color: #ffffff;
}
.tab-content {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tab-content .tab-li {
  display: none;
}
.tab-content .tab-li.active {
  display: block;
}
.square-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 78.75rem;
  margin: 0 auto;
}
.square-ul .square-li {
  float: left;
  width: 32%;
  height: 15.625rem;
  margin: 0 0 2%;
  padding: 8% 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
.square-ul .square-li:nth-child(3n + 2) {
  margin: 0 2%;
}
.square-ul .square-li a {
  border-bottom: none;
  display: inline-block;
  min-width: 13.75rem;
  padding: 0 3.75rem;
  background: #b8b185;
  font-size: 0.8125em;
  text-transform: uppercase;
  line-height: 3.38461538em;
  color: #ffffff;
}
.square-ul .square-li a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.btn {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
  padding: 0 1.25rem 0 0.875rem;
  border: none;
  font-size: 0.8125em;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.77777778em;
  text-transform: uppercase;
  border-radius: 0.125rem;
}
.btn.btn-primary {
  background: #ddeef8;
}
.btn.btn-primary:hover {
  background: #b3d9ef;
}
.btn.big {
  font-size: 1.125em;
}
.btn .icon {
  margin-right: 0.25rem;
}
.link-imgs-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link-imgs-ul .link-imgs-li {
  position: relative;
  height: 22.5rem;
  background: no-repeat center center / cover;
}
.link-imgs-ul .link-imgs-li a {
  border-bottom: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2em;
  font-weight: 300;
  line-height: 22.5rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.booking-form {
  z-index: 100;
  position: absolute;
  top: 100%;
  right: 0;
  width: 46.25rem;
  height: 5.5rem;
  background: #3368a4;
}
.booking-form form section {
  display: inline-block;
}
.rooms-wrap {
  padding: 2rem;
}
.rooms-wrap:after {
  content: '';
  position: absolute;
  top: 11.25rem;
  left: 50%;
  width: 35.625rem;
  height: 35.625rem;
  background: url(../img/rest.jpg) no-repeat 0 0 / 100% 100%;
}
.rooms-wrap .btn {
  margin: 1.25rem 0;
}
.room-item {
  height: 35rem;
  padding: 0 0 0 10.5%;
  background: no-repeat center center / cover;
}
.room-item .room-name {
  margin: 0 0 2rem;
  padding: 3.625rem 0 0;
  font-size: 3em;
  line-height: .75;
  font-weight: 600;
  text-transform: uppercase;
}
.room-item .room-price {
  line-height: .75;
  font-size: 3em;
}
.room-item .room-price:after {
  content: '\e802';
  font-family: 'fontello';
  font-size: 0.5em;
  vertical-align: top;
}
.column.pict {
  height: 9.875rem;
  background: no-repeat center center / 80% auto;
}
.spa {
  padding-top: 3rem;
}
.spa h1 {
  width: 100%;
  text-align: center;
}
.spa ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font: 0.8125em/1.6923em Georgia, 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.spa ul li {
  margin-bottom: 1.5625rem;
}
.spa .section-desc {
  width: 38.25rem;
  margin: 0 auto 3.5rem;
  text-align: center;
}
.main-header {
  height: 4.125rem;
  background: #ffffff;
}
.main-header .logo {
  position: relative;
  float: left;
  width: 20.75rem;
  height: 100%;
  margin: 0;
  background: url(../img/logo.jpg) no-repeat 0 0 / 100% 100%;
  text-indent: -9999rem;
}
.main-header .logo a {
  border-bottom: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
nav {
  float: left;
  height: 100%;
}
.nav-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
}
.nav-ul .nav-li {
  line-height: 4.125rem;
  display: inline-block;
  vertical-align: top;
  min-width: 6rem;
  height: 100%;
  border-left: 1px solid #cecece;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
}
.nav-ul .nav-li.lang {
  min-width: 0;
  color: #194373;
}
.nav-ul .nav-li.lang a {
  padding: 0 0.9375rem;
  text-decoration: underline;
}
.nav-ul .nav-li.lang a:hover {
  text-decoration: none;
}
.nav-ul .nav-li a {
  border-bottom: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 1.8125rem;
  text-decoration: none;
}
.phone {
  float: left;
  padding: 0 1.5625rem;
  color: #000000;
  font-weight: 600;
  line-height: 4.125rem;
}
.phone a {
  border-bottom: none;
}
.booking {
  position: relative;
  float: right;
  width: 8.9375rem;
  height: 100%;
  padding: 0 0.5rem 0 1.4375rem;
  background: #194373;
  line-height: 4.125rem;
  font-size: 0.75em;
  text-transform: uppercase;
  color: #ffffff;
}
.booking .icon {
  display: block;
  float: right;
  font-size: 1.35rem;
  line-height: 4.125rem;
}
.main-footer {
  line-height: 2.4375rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.4375rem;
  padding: 0 1.5625rem;
  background: #000000;
  color: #cecece;
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.75em;
  text-transform: uppercase;
}
.main-footer .copy {
  float: left;
}
.main-footer .dev {
  float: right;
}
.main-footer .dev a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-bottom: none;
}
.main-footer .dev a:hover {
  color: #e8e8e8;
  color: rgba(255, 255, 255, 0.75);
}
.main-footer.static-footer {
  position: relative;
  top: 0;
  bottom: auto;
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 13px;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
