html {
	font-family: 'Open Sans', sans-serif;
	min-width: 1440rem / @htmlFontSize;
}

a {
	.typical-link;
}

main {
	&.full-screen {
		position: absolute;
		top: @headerHeight / @htmlFontSize * 1rem;
		right: 0;
		left: 0;
		bottom: @footerHeight / @htmlFontSize * 1rem;
	}

	background: @darkBlue;
}