@media screen and (max-height: 900px) {
	.slideshow {
		.terms-slide {
			.slide-terms {
				height: 12rem;
			}
		}
	}
}
@media screen and (max-height: 825px) {
	.slideshow {
		.terms-slide {
			.slide-desc {
				display: none;
			}
		}
	}
}
@media screen and (max-width: 1480px) {
	html {
		font-size: 14.5px;
	}

	.datepickerFrom .Zebra_DatePicker_Icon_Inside {
	    margin-top: -2.075rem !important;
	}

	.datepickerTo .Zebra_DatePicker_Icon_Inside {
	    margin-top: -2.075rem !important;
	}

	.slideshow {
		.slide-cont {
			margin-top: 6%;
		}		
	}

	.sect-wrap {
		p {
			font-size: 1.1em;
		}
		.section-desc {
			font-size: 1.2em;
		}
		h2 {
			font-size: 1.35em;
		}
	}
}

@media screen and (max-width: 1324px) {
	html {
		font-size: 13px;
	}
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 12px;
	}

	.nav-ul {
		.nav-li {
			a {
				span { 
					padding: 0 1.213rem;
				}
			}
		}
	}
}