.booking-form {
	.transition;
	opacity: 0;
	position: absolute;
	top: 100%;
	right: 0;
	width: 740rem / @htmlFontSize;
	height: 88rem / @htmlFontSize;
	line-height: 88rem / @htmlFontSize;

	background: #3368a4;
	cursor: default;

	&.active {
		opacity: 1;
		z-index: 100;
	}
	
	form {
		padding: 0 0 0 42rem / @htmlFontSize;
		font-size: 1.2em;
		text-transform: none;

		section {
			display: inline-block;
		}

		select {
			height: 27rem / @htmlFontSize;
			margin: 0 22rem / @htmlFontSize;
		}

		input {
			width: 90rem / @htmlFontSize;
			margin: 0 11rem / @htmlFontSize;
		}
	}
}